.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 16px;
}

.cardWrapper {
  border: 1px solid white;
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cardWrapper a {
  text-decoration: none;
}

.cardWrapper:hover {
  transform: scale(1.05);
}

.productName {
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 0;
  color: white;
}
